body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #333;
}
a {
  color: #00b7ff;
}
.api {
  background: #fff;
  padding: 20px;
  width: 800px;
  float: left;
  margin: 0 0 10px 10px;
  border-radius: 5px;
}
.dummy {
  display: none;
}
.header {
  background: #fff;
  float: left;
  width: 300px;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
}
.api_action {
  display: none;
}
.btn {
  font-size: 14px;
  width: 250px;
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  background: #eee;
  border: 1px solid #ccc;
  cursor: pointer;
}
#cook.btn {
  color: #fff;
  background: #70e027;
  border: 1px solid #999;
}
.results {
  color: #0f0;
  padding: 10px;
}
a.close,
a.hide {
  float: right;
}
a.hide {
  padding: 10px;
}
.taste_box {
  display: none;
}
pre {
  outline: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
}
.string {
  color: #008000;
}
.number {
  color: #00f;
}
.boolean {
  color: #00f;
}
.null {
  color: #f0f;
}
.key {
  color: #000;
}
